<form class="newpost" action="/post" method="post">
    <label for="">title</label>
    <input type="text" name="title">
    <label for="">image url</label>
    <input type="text" name="imageUrl">
    <label for="">zoom link</label>
    <input type="text" name="onlineUrl">
    <label for="">description</label>
    <input type="text" name="description">
    <button>post</button>
</form>