<h1>New User Sign Up</h1>
<form action="/users" method="post">
    <label for="">username</label>
    <input type="text" name="username"/>
    <label for="">password</label>
    <input type="password" name="plainTextPassword"/>
    <label for="">confirm your password</label>
    <input type="password" name="confirmedPassword"/>
    <button>sign up</button>
</form>
<%= message %>