* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

h1, a, p {
    margin: 0;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
nav li {
    float: left;
    padding-left: 20px;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
  
nav li a:hover {
    background-color: #111111;
}

header {
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.title {
    display: flex;
    margin: 0 auto;
}

.title h1 {
    display: inline-block;
    margin: auto 0;
    justify-self: center;
}

.currentuser {
    margin-top: auto;
    margin-left: auto;
}

.posts_holder {
    padding-left: 50px;
} 

.colomn {
    width: 230px;
    height: 100%;
    margin-left: 20px;
    float: left;
}

.post {
    display: block;
    position: relative;
    width: 100%;
} 


.post img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* margin: 0; */
}

.post .text-box {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgba(0, 0, 244, 0.5);
    color: white;
    text-align: left;
    padding-left: 20px;
}

