* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

h1, a, p {
    margin: 0;
}

nav {
    margin-bottom: 20px;
    min-width: 600px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 15%;
    overflow: hidden;
    background-color: #333333;
}
  
nav li {
    float: left;
    padding-left: 20px;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
  
nav li a:hover {
    background-color: #111111;
}

header {
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.title {
    display: flex;
    margin: 0 auto;
}

.title h1 {
    display: inline-block;
    margin: auto 0;
    justify-self: center;
}

.currentuser {
    margin-top: auto;
    margin-left: auto;
}

.posts_holder {
    padding-left: 50px;
    max-width: 1100px;
    margin: 0 auto;
} 

.post-link {
    text-decoration: none;
    color: #ccf0ff;
}

.colomn {
    width: 230px;
    height: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}

.post {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
} 


.post img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* margin: 0; */
}

.post .text-box {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgba(0, 0, 244, 0.5);
    color: white;
    text-align: left;
    padding-left: 20px;
}
.post a {
    text-decoration: underline;
    color: #ccf0ff;
}
.newpost {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.insert-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.insert-table label, .insert-table input, .insert-table div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 5px;
    height: 30px;
    font-size: 18px;
}

.insert-table label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 100px;
}

div.date, div.time {
    display: flex;
    float: left;
}

input.date, input.time {
    display: inline-block;
    width: 50px;
    margin: 0;
    padding: 0;
}

.insert-table .description {
    height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 5px;
    font-size: 18px;
}

.newpost button {
    position: absolute;
    right: 20px;
    background-color: #81cdf2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.newpost button:hover{
    background-color: #5da5c3; 
    color: white;
}

.post-details {
    width: 500px;
    margin: 0 auto;
}